<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>



    <% result = connection.exec("select weight, give_for from crops;") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]}　重さ：#{record["weight"]} ゴーヤの質：#{record["quality"]} 売った相手:#{record["give_for"]} 売買日:#{record["date"]}" %>
    <% end %>
    <% result1 = connection.exec("SELECT * FROM crops WHERE quality = false;") %>
    <% data1 = [] %>
    <% result1.each do |record| %>
      <%  data1 << "ゴーヤ長さ：#{record["length"]}　重さ：#{record["weight"]} ゴーヤの質：#{record["quality"]} 売った相手:#{record["give_for"]} ゴーヤの売買日:#{record["date"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
    press the button below, you will be taken to the bitter gourd trading information page other than self-consumption<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

    <form action="goya.cgi" method="POST">
      Press the button below to jump to the bad quality bitter gourd information page<br><br>
      <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
     <input type="text" name="goya" value="<%= data1.join(' ') %>">
     <input type="submit" name="送信" >
    </form>
  </body>
</html>
